html,
body {
  margin: 0;
  padding: 0;
  user-select: none;
  overflow: hidden;
}
body {
  background-color: #ffffff;
}


@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212 !important;
  }
}

@font-face {
  font-family: bubble;
  src: url("/resources/bubble.otf") format("opentype");
}

.letter-box,
.icon-box {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: bubble, sans-serif;
  text-transform: uppercase;
  border-radius: 8px;
  transition: left 2s ease, top 2s ease;
  z-index: 1;
}

.letter-box.large {
  background-color: #c4ddff;
  color: #2c9aff;
  width: 6vw;
  height: 6vw;
  font-size: 6vw;
}

.letter-box.small {
  background-color: #c4ddff;
  color: #66abf9;
  width: 30px;
  height: 30px;
  font-size: 20px;
}

.icon-box {
  background-color: #c4ddff;
  width: 3vw;
  height: 3vw;
  cursor: pointer;
}
.icon-box img {
  width: 70%;
  height: 70%;
  object-fit: contain;
}

@media (prefers-color-scheme: dark) {
  .letter-box.large,
  .letter-box.small,
 
}

img.white {
  filter: brightness(0) invert(1);
}
